[submodule "themes/freemind.bithack"]
	path = themes/freemind.bithack
	url = https://github.com/Ares-X/hexo-theme-freemind.bithack.git
[submodule "themes/hexo-theme-matery"]
	path = themes/hexo-theme-matery
	url = https://github.com/blinkfox/hexo-theme-matery.git
